<form action="/item/create" method="POST">
  <div class="form-group">
    <label for="">Masukkan Ttile</label>
    <input type="text" class="form-control" id="title" name="title">
  </div>
    <div class="form-group">
    <label for="">Masukkan Lokasi</label>
    <input type="text" class="form-control" id="location" name="location">
  </div>
   <div class="form-group">
    <label for="exampleFormControlSelect1">Pilih Fasilitas</label>
    <select class="form-control" id="exampleFormControlSelect1" name="fasilitas" required>
      <option>---Pilihan Fasilitas---</option>
      <% facility.forEach(facility =>{ %>
          <option value="<%=facility._id %>"><%= facility.title %> </option>
      <%}) %> 
    </select>
  </div>
   <div class="form-group">
    <label for="exampleFormControlSelect1">Pilih Fasilitas</label>
    <select class="form-control" id="exampleFormControlSelect1" name="fasilitas" required>
      <option>---Pilihan Fasilitas---</option>
      <% facility.forEach(facility =>{ %>
          <option value="<%=facility._id %>"><%= facility.title %> </option>
      <%}) %> 
    </select>
  </div>
   <div class="form-group">
    <label for="exampleFormControlSelect1">Pilih Fasilitas</label>
    <select class="form-control" id="exampleFormControlSelect1" name="fasilitas" required>
      <option>---Pilihan Fasilitas---</option>
      <% facility.forEach(facility =>{ %>
          <option value="<%=facility._id %>"><%= facility.title %> </option>
      <%}) %> 
    </select>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Masukkan Deskripsi</label>
    <input type="text" class="form-control" id="deskripsi" name="deskripsi">
  </div>

    <div class="form-group">
    <label for="exampleFormControlSelect1">Pilih Bus</label>
    <select class="form-control" id="exampleFormControlSelect1" name="bus" required>
      <option>---Pilihan Bus---</option>
      <% bus.forEach(bus =>{ %>
          <option value="<%=bus._id %>"><%= bus.namaBus %> </option>
      <%}) %> 
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>