                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Data item </h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Ttile</th>
                                            <th>Location</th>
                                            <th>Fasilitas</th>
                                            <th>Deskripsi</th>
                                            <th>Bus</th>
                                             <th>Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(let i=0; i<item.length; i++) { %>
                                        <tr>
                                            <th>
                                                <%= i+1 %>
                                            </th>
                                            <th>
                                                <%= item[i].title %>
                                            </th>
                                            <th>
                                                <%= item[i].location %>
                                            </th>
                                            <th>
                                                <%= item[i].fasilitas?.title %>
                                            </th>
                                            <th>
                                                <%= item[i].deskripsi %>
                                            </th>
                                            <th>
                                                <%= item[i].bus?.namaBus %>
                                            </th>
                                            <th>
                                                <form action="/item/delete<%= item[i]._id %>?_method=DELETE"
                                                    method="POST">
                                                    <a href="/item/edit<%= item[i]._id %> ">
                                                        <i class="bi bi-pencil btn btn-success"></i>
                                                    </a>
                                                    <button type="submit" class="btn btn-danger">
                                                        <i class="bi bi-trash "></i>
                                                    </button>

                                                </form>

                                            </th>
                                            
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>